* {
  font-family: OpenSans, sans-serif;
}

header {
  background-color: #f5f5f5;
  padding-top: 5.125rem;
}

.span_first-letters {
  color: #fc6f4e;
}

.logo {
  width: 141px;
  height: 47px;
  display: block;
  text-align: center;
  border: 3px solid #706b73;
  color: #494949;
  font-size: 28px;
  text-decoration: none;
  outline: none;
}

.logo:hover {
  text-decoration: none;
  color: #494949;
}

.main-menu {
  position: absolute;
  background-color: #f5f5f5;
  z-index: 1;
  padding: 0 50px;
  right: -16px;
  -webkit-box-shadow: 0 0 15px #dfdfdf;
          box-shadow: 0 0 15px #dfdfdf;
}

.navbar-toggler_border-none {
  border: none;
}

.navbar-toggler_outline-none:focus {
  outline: none;
}

.nav-link_color-gray {
  color: #706b73;
}

.bi-list_color-gray {
  color: #706b73;
}

.smart {
  background-color: #f5f5f5;
  padding-top: 7.9375rem;
}

.smart-logo {
  font-size: 2.375rem;
  color: #706b73;
  text-align: center;
}

.smart-text {
  color: #939393;
  padding-bottom: 114px;
}

.form-block {
  text-align: center;
  padding: 39px 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 19px #dfdfdf;
          box-shadow: 0 0 19px #dfdfdf;
}

.form-block__logo {
  font-size: 1.25rem;
  padding-bottom: 45px;
}

.form-block_textarea {
  resize: none;
  width: 294px;
  height: 50px;
}

.input_border-bottom {
  border: none;
  border-bottom: 1px solid #c7c7c7;
  border-radius: 0;
}

.btn_form-block {
  height: 55px;
  width: 238px;
  border-radius: 31px;
}

.btn_form-block_orange {
  background-color: #ff5c36;
  color: white;
}

.form-block_width-294 {
  width: 294px;
  max-width: 100%;
}

.working {
  margin-top: -3px;
  padding-top: 147px;
  padding-bottom: 182px;
  background-color: #ffffff;
}

.blocks__topic_main-type {
  font-size: 2.375rem;
  color: black;
}

.blocks__text_main-type {
  font-size: 1rem;
  color: #939393;
  text-align: center;
}

.working-prog__card {
  text-align: center;
  padding-top: 54px;
  padding-right: 18px;
  padding-left: 18px;
  position: relative;
  width: 262px;
  height: 263px;
  margin-top: 115px;
}

.working-prog__card_color-type_blue {
  background-color: #4eb2f7;
}

.working-prog__card_color-type_violet {
  background-color: #c049f8;
}

.working-prog__card_color-type_dark-blue {
  background-color: #817eff;
}

.working-prog__card_color-type_red {
  background-color: #f74770;
}

.working-prog__card_button {
  position: absolute;
  background-color: white;
  left: 16px;
  bottom: -21px;
  width: 228px;
  height: 55px;
  border-radius: 24px;
  -webkit-box-shadow: 0 0 5px #dfdfdf;
          box-shadow: 0 0 5px #dfdfdf;
}

.working-prog__card_topic {
  font-size: 20px;
  color: #f3f2ff;
  padding-top: 23px;
}

.working-prog__card_text {
  font-size: 15px;
  color: #dfdfff;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured {
  padding-top: 131px;
  background-color: #f5f5f5;
}

.block-img {
  height: 360px;
  width: 360px;
}

.block-img__img {
  height: 360px;
  width: 360px;
}
/*# sourceMappingURL=main.css.map */