$color-gray: #706b73;
$first-type_back-color: #f5f5f5;
$second-type_back-color: #ffffff;
$block__topic_font-size: 2.375rem;
$block__text_font-size: 1rem;
@font-face {
    font-family: 'slick';
    src: url("../fonts/slick.ttf") ;
    src: url("../fonts/slick.woff") ;
}


* {
    
    font-family: OpenSans, sans-serif;
   }


.button_main-type {
    background-color: white;
    width: 100%;
    height: 55px;
    border-radius: 24px;
    box-shadow:  0 0 5px rgba(223, 223, 223, 1);
}


header {
    background-color: $first-type_back-color;
    padding-top:5.125rem;
}
.span_first-letters {
    color: #fc6f4e;
   
}


.logo {
    width: 141px;
    height: 47px;
    display: block;
    text-align: center;
    border: 3px solid $color-gray;   
    color: #494949;
    font-size: 28px;
    text-decoration: none;
    outline: none;
    transition: border-color .4s ease;
            
}
.logo:hover {
    text-decoration: none;
    color: #494949;
    border-color: #fc6f4e;
    
}

.main-menu{
    position: absolute;
    background-color: $first-type_back-color;
    z-index: 1;
    padding: 0 50px;
    right: 0;
    box-shadow: 0 0  15px rgba(223, 223, 223, 1);
}
.navbar_main {
    padding: 0;
}



.navbar-toggler_border-none {
    border: none;  
    padding: 0;
    padding-top: 6px;  
}

.navbar-toggler_outline-none:focus {
    outline: none;
}


.nav-link_color-gray {
    color: $color-gray;
}
.bi-list_color-gray {
    color: $color-gray;
}

.smart {
    background-color: $first-type_back-color;
    padding-top: 7.9375rem;
}
.smart__logo {
    font-size: $block__topic_font-size;
    color: $color-gray;
    text-align: center;
}

.smart__text {
    color: #939393;
    padding-bottom: 114px;
}
.form-block {
    text-align: center;
    padding: 39px 20px;
    background-color: $second-type_back-color;
    box-shadow: 0 0 19px rgba(223, 223, 223, 1) ;
}
.form-block__logo {
    font-size: 1.25rem;
    padding-bottom: 45px;
}

.form-block__textarea {
    resize: none;
    width: 294px;
    height: 50px;
}

.input_border-bottom {
    border: none;
   border-bottom:1px solid #c7c7c7;
   border-radius: 0;
  
}


.button_main-form {
 height:  55px;
width:  238px;
border-radius: 31px;
background-color: #ff5c36;
color: white;
}



.form-block_width-294{
    width:  294px;
    max-width: 100%;
}

.working {
    margin-top: -3px;
    padding-top: 147px;
    padding-bottom: 182px;
    background-color: $second-type_back-color;
}

.blocks__topic_main-type {
    font-size: $block__topic_font-size;
    color: black;
}

.blocks__text_main-type {
    font-size: $block__text_font-size;
    color: #939393;
    text-align: center;
    padding-bottom: 117px;
}

.working-card {
    text-align: center;
    padding-top: 54px;
    padding-right: 18px;
    padding-left: 18px;
    position: relative;
    width: 262px;
    height: 263px;
    margin: 0 auto;
    @media (max-width: 1200px)   {
       margin-top: 50px; 
    }
}

.working-card_blue {
    background-color: #4eb2f7;
}
.working-card_violet {
    background-color: #c049f8;
}

.working-card_dblue {
    background-color: #817eff;
}

.working-card_red {
    background-color: #f74770;
}
.working-card__button-block {
    transform: translateY(20px) ;

}
.working-card_button {
    
    background-color: white;
    width: 100%;
    height: 55px;
    border-radius: 24px;
    box-shadow:  0 0 5px rgba(223, 223, 223, 1);
    
}



.working-card__topic {
    font-size: 20px;
    color: #f3f2ff;
    padding-top: 23px;
}

.working-card__text {
    font-size: 15px;
    color:#dfdfff;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.featured {
    padding-top: 131px;
    padding-bottom: 182px;
    background-color: $first-type_back-color;
}

.block-img {
    padding-top: 27px;
    margin: 0 auto;
    max-width: 360px;
    height: 360px;
}

.block-img__img {
    
    height: 100%;
    width: 100%;

}

.services {
    padding-top: 147px;
    padding-bottom: 182px;
    background-color: $second-type_back-color;
}

.services__cube-block {
    @media (max-width: 768px)   {
        display: flex;
        justify-content: space-around;
    }
    @media (max-width: 500px)   {
        display: none;
    }
}

.services__cube {
    width: 104px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-repeat: no-repeat;
    margin-top: 5px;
    @media (max-width: 575px) {
        margin-top: 0;
    }
    
}

.services__cube:hover {
    box-shadow: 0 0 5px gray;
}

.services__cube_ball {
    background-image: url(../img/cube-first.png);
    background-position: 30px 25px;
}

.services__cube_gear {
    background-image: url(../img/cube-second.png);
    background-position: 25px 20px;
}

.services__cube_magnifier {
    background-image: url(../img/cube-third.png);
    background-position: 20px 20px;
}

.services__cube_big-ball {
    background-image: url(../img/cube-first.png);
    background-position: 30px 25px;
}



.button_w-238
{
    width: 238px;
    height: 55px;
}
.services__text-block {
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column; 
        align-items: center;
        padding-top: 50px;
    }
   
}

.text-block__topic {
    font-size: 30px;
    padding-bottom: 18px;

}
.text-block__text {
    font-size: 16px;
    color: #939393;
}

.border-bottom_orange {
    border-bottom: 3px solid #fc6f4e;
    padding-bottom: 10px;
}

.services__img {
    width: 310px;
    height: 340px;
    @media (max-width: 992px)   {
        display: none;; 
     }
}

.team {
    background-color: $first-type_back-color;
    padding-top: 131px;
    padding-bottom: 182px;
}


.team-card {
    max-width: 360px;
    height: 445px;
    border: 1px solid #d9d9d9;
    background-color: #fc6f4e;
    background-color: #fff3f0;
    margin: 0 auto;
    margin-top: 60px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
}


.team-card_first-person {
    background-image: url(../img/first-person_card.jpg);
    
}

.team-card_second-person {
    background-image: url(../img/second-person_card.jpg);
}

.team-card_third-preson {
    background-image: url(../img/third-person_card.jpg);
}



.team-card__skill {
    text-align: center;
    display: none;
}

.team-card__skill-spec {
    margin-bottom: 0;
}

.card-name__social {
     display: none;
}
.show-block {
    display: block!important;
}

.card-name__social_link {
   color: white;
   
}

.team-card__card-name {
    text-align: center;
    position: absolute;
    background-color: white;
    transform: translateY(220px);
    width: 262px; 
    min-height: 95px;
    border-radius: 3px;
    box-shadow:  0px 3px 5px 0px rgba(223, 223, 223, 1);
}


.team-card:hover {
    background-image: none;
    background-color: #fff3f0;
    transition: background-color .8s ease;
    .team-card__skill {
        display: block;
    }
    .card-name__social {
        display: block;
    }
    .team-card__card-name {
        background-color: #fff3f0;
        transform: translateY(150px);
        width: 262px; 
        min-height: 95px;
        border-radius: none;
        box-shadow:  none;
    }
}

.card-name__person {
    font-size: 30px;
    margin-bottom: 0;
    padding-top: 22px;
}
.card-name__spec {
    font-size: 15.7px;
    color: #939393;
    margin-bottom: 0px;
}

.clients {
    padding-top: 131px;
    padding-bottom: 182px;
    background-color: $second-type_back-color;
}

.carousel__wrapper {
    display: flex;
    justify-content: center;
    
   
}
.carousel-block {
    width: 536px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
}
.carousel-block__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    width: 100%;
     min-height:272px;
     text-align: center;
 padding: 75px 50px 0 50px;
}

.carousel__logo-block {
    width: 100px;
    height: 100px;
    
    border-radius: 50%;
    margin: 0 auto;
    transform: translateY(50px);
    text-align: center;
}


.logo-block__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid gray;
}
.carousel__stars {
    padding-top: 40px;
}
.carousel-block__description {
    font-style: italic;
}
.carousel-block__description span {
    font-weight: bold;
    font-style: normal;
}

.pre-footer {
    padding-top: 70px;
    padding-bottom: 100px;
    background-color: #fbfbfb;
    text-align: center;
    @media (max-width:576px) {
        display: none;
        
    }
}

.pre-footer__img {
    margin-top: 30px;
}

.footer {
    background-color: $first-type_back-color;
    padding-top: 45px;
    padding-bottom: 55px;
}
.f-social {
    display: flex;
    align-items: center;
    padding-top: 50px;
    @media (max-width:767px) {
        flex-direction: column;
    
        
    }
}
.f-social__wrapper {
    display: flex;

}

.f-social__block {
    border-radius: 50%;
    background-color: #d3d3d3;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.f-social__block:hover {
    background-color: #ff6e47;
}
.f-social__block:not(:first-child) {
    margin-left: 25px;
}

.f-social__text {
    margin: 0;
    padding-left: 25px;
    text-align: center;
    @media (max-width:767px) {
       padding-top: 20px;
        padding-left: 0;
        
    }
}
