$color-gray: #706b73;
$first-type_back-color: #f5f5f5;
* {
    
    font-family: OpenSans, sans-serif;
   }

header {
    background-color: $first-type_back-color;
    padding-top:5.125rem;
}
.span_first-letters {
    color: #fc6f4e;
   
}


.logo {
    width: 141px;
    height: 47px;
    display: block;
    text-align: center;
    border: 3px solid $color-gray;   
    color: #494949;
    font-size: 28px;
    text-decoration: none;
    outline: none;
            
}
.logo:hover {
    text-decoration: none;
    color: #494949;
}


.navbar-toggler_border-none {
    border: none;    
}

.navbar-toggler_outline-none:focus {
    outline: none;
}


.nav-link_color-gray {
    color: $color-gray;
}
.bi-list_color-gray {
    color: $color-gray;
}

.smart {
    background-color: $first-type_back-color;
    padding-top: 7.9375rem;
}
.smart-logo {
    font-size: 2.375rem;
    color: $color-gray;
    text-align: center;
}

.smart-text {
    color: #565656;
}